body {
	background-color: #61dafb;
}

.center {
	width: 25%;
	height: 80vh;
	background-color: #f4f4f4;
}

.main_div {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

input {
	text-align: center;
	height: 30px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 500;
	width: 60%;
	border-bottom: 2px solid #8566aa;
	outline: none;
}

button {
	min-height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #8566aa;
	color: white;
	font-size: 40px;
	font-weight: bolder;
	border: none;
	outline: none;
	margin-left: 10px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
	background-color: 20bf6b;
}
h1 {
	text-align: center;
	color: white;
	background-color: rgb(55, 151, 119);
	margin-left: 0px;
	margin-right: 0%;
}
ul {
	margin-top: 30px;
	/* border: 2px solid red; */
}

ul li {
	padding-left: 0px;
	text-align: left;
	font-size: 26px;
	font-weight: 500;
	min-height: 40px;
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}
span{
  text-align: left;
  font-size: 30px;
  margin-right: 6px;
}

.icon{
  background-color: white;
 color: #282c34; 
}

.icon:hover{
 background-color: white;
 color: red; 
}

.todo_list {
	display: flex;
	align-items: start;
  justify-content: left;
border: 2px solid red;
align-items: start;
}

@media (max-width: 768px) {
	.center {
		width: 55%;
	}

	.todo_list {
		margin: 0px 15px 0px 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
